.about__container {
  @include flex(column, center, center);
  margin: $xxl-size 0 0 0;

  .about__title {
    font-size: $l-size;
    font-weight: bold;
    color: $dark-text;
    margin: 0 0 $m-size 0;
  }

  .about-text__container {
    width: 90%;
    text-align: center;

    @media (min-width: $tablet) {
      max-width: 60rem;
    }

    @media (min-width: $large) {
      @include flex(row, space-between, center);
      max-width: 75%;
    }
  }

  .about-text {
    font-size: $xs-size;
    color: $off-text;
    line-height: 1.2;

    @media (min-width: $tablet) {
      font-size: $s-size;
    }

    @media (min-width: $large) {
      max-width: 90rem;
    }
  }
}
