.button {
  padding: $xs-size;
  margin-top: $xs-size;
  font-family: 'Tomorrow', sans-serif;
  font-size: $s-size;
  background: none;
  border: 2px solid $primary;
  outline: none;
  color: $light-text;
  background: $primary;

  @media (min-width: $tablet) {
    background: none;
    border-color: $light-text;
    font-size: $m-size;
    transition: all ease-out 0.3s;

    &:hover {
      transition: all ease-in 0.3s;
      background: $primary;
      border-color: $primary;
    }
  }
}
