.footer-container {
  background: $background;
  @include flex(column, space-between, center);
  height: 55rem;
  padding: $xl-size 0 0 0;

  .title {
    color: $light-text;
    font-size: $l-size;
  }

  .form {
    @include flex(column, center, center);

    .input {
      background: #15181e;
      outline: none;
      appearance: none;
      border: none;
      padding: $s-size;
      margin-bottom: 0.3rem;
      width: 40rem;
      color: $light-text;
      font-size: $m-size;
    }

    .text-input {
      height: 15rem;
    }

    ::placeholder {
      color: $dark-text;
      font-size: $m-size;
    }

    .button {
      align-self: flex-start;
    }
  }

  .links-container {
    width: 100%;
    @include flex(row, center, center);
    background: #15181e;

    .social-links {
      @include flex(row, space-evenly, center);
      width: 35rem;
      font-size: $xl-size;
      padding: $s-size 0;
    }

    .link {
      transition: all ease-out 0.2s;
      color: $background;
      cursor: pointer;

      &:hover {
        transition: all ease-in 0.2s;
        color: $secondary;
      }
    }
  }
}
