.footer__container {
  background: $background;
  @include flex(column, space-between, center);
  height: 35rem;

  .contact__container {
    @include flex(column, space-evenly, center);
    height: 100%;

    .button {
      margin: 0;
      text-decoration: none;
    }
  }

  .title {
    color: $light-text;
    font-size: $l-size;
  }

  .contact__text {
    font-size: $xs-size;
    color: $secondary;
  }

  .links__container {
    width: 100%;
    @include flex(column, center, center);
    background: #15181e;

    .social__links {
      @include flex(row, space-evenly, center);
      width: 35rem;
      font-size: $l-size;
      padding: $s-size 0;
    }

    .link {
      transition: all ease-out 0.2s;
      color: $background;
      cursor: pointer;

      &:hover {
        transition: all ease-in 0.2s;
        color: $secondary;
      }
    }
  }

  .copyright__container {
    margin: $s-size;

    .copyright__text {
      font-size: $xs-size;
      color: $off-text;
    }

    .copyright__logo {
      color: $primary;
    }
  }
}
