.header-container {
  height: 100vh;
  @include flex(column, center, center);
  background: #252934;
}

.intro {
  font-size: 2.1rem;
}

.header-welcome-message {
  height: 15rem;
  @include flex(column, space-evenly, center);
  color: #f2eff4;
  text-align: center;
  line-height: 1.1;
  width: 100%;
}

.name {
  color: #f9c254;
}
