.navigation__container {
  height: $xxl-size;
  @include flex(row, flex-end, center);
  background: $background;
  border-bottom: 3px solid $primary;
  position: fixed;
  width: 100%;
  z-index: 500;

  @media (min-width: $mobile) {
    @include flex(row, flex-start, center);
  }

  .navigation__list {
    display: none;

    @media (min-width: $mobile) {
      @include flex(row, flex-start, center);

      .navigation__list-item {
        padding: 0 $s-size;

        .navigation__link {
          color: $light-text;
          text-decoration: none;
          transition: all ease-out 0.3s;

          &:hover {
            transition: all ease-in 0.1s;
            color: $secondary;
          }
        }
      }
    }
  }
}
