.projects__container {
  @include flex(column, center, center);
  padding: $divider 0;
  background: #efefef;

  .projects__title {
    font-size: $l-size;
    font-weight: bold;
    color: $dark-text;
    margin: 0 0 $l-size 0;
  }

  .project {
    margin: $m-size 0;
    width: 100%;
    @include flex(column, center, center);

    @media (min-width: $tablet) {
      @include flex(row, space-evenly, center);
    }
  }

  .project:nth-child(3) {
    padding: $l-size 0;

    @media (min-width: $tablet) {
      @include flex(row-reverse, space-evenly, center);
    }

    .project__title {
      color: $dark-text;
    }
  }

  .project__title {
    font-size: $m-size;
    text-align: center;
    font-weight: bold;

    @media (min-width: $large) {
      font-size: 2.8rem;
    }
  }

  .project__description {
    padding: 0 $xs-size;
    font-size: $xs-size;
    color: $dark-text;
    line-height: 1.2;
    max-width: 40rem;

    @media (min-width: $tablet) {
      font-size: $s-size;
    }

    @media (min-width: $large) {
      font-size: $m-size;
      max-width: 70rem;
    }
  }

  .description__text {
    text-align: center;
    margin-top: $s-size;
  }

  .project__links {
    @include flex(row, space-evenly, center);
    font-size: $s-size;
    width: 100%;

    .project__link {
      text-decoration: none;
      border-bottom: 1px dashed black;
      color: $dark-text;
    }
  }

  .project__links.tablet {
    display: none;

    @media (min-width: $tablet) {
      @include flex(row, space-evenly, center);
      margin: $s-size auto;
      max-width: 35rem;

      .project__link {
        font-size: $s-size;
        transition: all 0.1s ease-out;

        &:hover {
          transition: all 0.1s ease-in;
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }

  @media (min-width: $tablet) {
    .project__links.mobile {
      display: none;
    }
  }

  .project-image__container {
    height: 25rem;
    width: 100%;
    margin: $s-size 0;

    @media (min-width: $tablet) {
      max-width: 40rem;
      height: 30rem;
      margin: 0 $s-size;
      border-radius: 2px;
      box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
    }

    @media (min-width: $large) {
      max-width: 60rem;
      height: 40rem;
    }

    .project__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(30%);
    }
  }
}
