.projects__container {
  @include flex(column, center, center);
  padding: $xxl-size 0;
  background: #efefef;

  .projects__title {
    font-size: $l-size;
    font-weight: bold;
    color: $dark-text;
    margin: 0 0 $l-size 0;
  }

  .project {
    margin: $m-size 0;
  }

  .project:nth-child(3) {
    background: white;
    padding: $l-size 0;

    .project__title {
      color: $dark-text;
    }
  }

  .project__title {
    padding: 0 $xs-size;
    font-size: $m-size;
    text-align: center;
    font-weight: bold;
  }

  .project__description {
    margin: $m-size 0;
    text-align: center;
    padding: 0 $xs-size;
    font-size: $xs-size;
    color: $dark-text;
    line-height: 1.2;
  }

  .tech__container {
    height: 100%;
    margin: $xs-size 0;

    .tech__list {
      margin: 0 $s-size;
      .tech {
        color: black;
        font-size: $xs-size;
        margin: 0.3rem 0;
      }
      i {
        margin-right: 0.5rem;
      }
    }
  }

  .project__links {
    @include flex(row, space-evenly, center);
    font-size: $s-size;

    .project__link {
      text-decoration: none;
      border-bottom: 1px dashed black;
      color: $dark-text;
    }
  }

  .project-image__container {
    height: 25rem;
    width: 100%;
    margin: $s-size 0;

    .project__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(30%);
    }
  }
}
