.projects__container {
  @include flex(column, center, center);
  padding: $xxl-size 0;
  background: #efefef;

  .projects__title {
    font-size: $l-size;
    font-weight: bold;
    color: $dark-text;
    margin: 0 0 $l-size 0;
  }

  .project {
    margin: $m-size 0;
    width: 100%;
    @include flex(column, center, center);

    @media (min-width: $tablet) {
      @include flex(row, flex-start, center);
      max-width: 120rem;
    }
  }

  .project:nth-child(3) {
    background: white;
    padding: $l-size 0;
    @include flex(row-reverse, center, center);

    .project__title {
      color: $dark-text;
    }
  }

  .project__title {
    font-size: $m-size;
    text-align: center;
    font-weight: bold;
  }

  .project__description {
    padding: 0 $xs-size;
    font-size: $xs-size;
    color: $dark-text;
    line-height: 1.2;
    max-width: 40rem;
  }

  .description__text {
    text-align: center;
    margin-top: $s-size;
  }

  .project__links {
    @include flex(row, space-evenly, center);
    font-size: $s-size;
    width: 100%;

    @media (min-width: $tablet) {
      display: none;
    }

    .project__link {
      text-decoration: none;
      border-bottom: 1px dashed black;
      color: $dark-text;
    }
  }

  .project-image__container {
    height: 25rem;
    width: 100%;
    margin: $s-size 0;

    @media (min-width: $tablet) {
      width: 50%;
      margin: 0 $s-size;
      border-radius: 2px;
      box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.3);
    }

    .project__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      filter: grayscale(30%);
    }
  }
}
