.side-drawer__container {
  height: 50%;
  background: $background;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-out;

  .side-drawer__list {
    height: 100%;
    @include flex(column, center, center);
  }

  .side-drawer__list-item {
    padding: $s-size;
  }

  .side-drawer__link {
    font-size: 2.2rem;
    text-decoration: none;
    color: white;

    &:hover,
    &:active {
      color: $primary;
    }
  }
}

.side-drawer__container.open {
  transform: translateY(0);
  opacity: 1;
}
