.skills__container {
  @include flex(column, flex-start, center);
  margin-top: $l-size;
  width: 100%;
  max-width: 70rem;

  .skills__list {
    width: 90%;
  }

  .skill-bar {
    background: $light-text;
    margin-bottom: $xs-size;
  }

  .skill-level {
    background: $primary;
    height: 100%;
    text-align: left;
  }

  .skill {
    font-size: $xs-size;
    color: $light-text;
    font-weight: bold;
    width: 6.5rem;
    height: 100%;
    background: lighten($primary, 8%);
    padding: 0.6rem;

    @media (min-width: $tablet) {
      width: 8rem;
    }

    @media (min-width: $tablet) {
      width: 9rem;
      font-size: $s-size;
    }
  }
}
