// Spacing
$xs-size: 1.2rem;
$s-size: 1.6rem;
$m-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$xxl-size: 4.8rem;
$divider: 8rem;

// Colors
$primary: #f75c5d;
$secondary: #f9c254;
$background: #252934;
$light-text: #f2eff4;
$dark-text: #333;
$off-text: #636363;

// Screen sizes
$mobile: 500px;
$tablet: 768px;
$large: 1366px;
