// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4rem;
$xxl-size: 4.8rem;

// Colors
$primary: #efbe2b;
$secondary: #efbe2b;
$background: #252934;
$light-text: #f2eff4;
$dark-text: #7e7c7f;
